:root {font-size: 16px;}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

p {font-size: 1rem;}

h1 {font-size: 4rem;}

h2 {font-size: 2rem;}

@media only screen and (max-width: 600px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Header section */

    .header-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--secondary-color);
        position: fixed;
        width: 100%;
        padding-top: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        }

    }

    .logo img {
        max-width: auto;
        max-height: 20%;
    }

