:root {font-size: 17px;}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }

  .border {border: 2px solid red;}

  .mobile {display: none;}

  .desktop {display: flex;}

  .desktop-hide {display: none;}

  p {font-size: 1rem;}

  h1 {font-size: 4rem;}

  h2 {font-size: 2.2rem; }

  h3 {font-size: 1.7rem}

  h4 {font-size: 1.5rem; font-weight: 600;}
  
  h5 {font-size: 1.3rem; font-weight: 600;}

  h6 {font-size: 1rem; font-weight: 600;}

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
  }

  .active {
    color: var(--primary-color);
  }

  section {
    width: 100%;
  }

  img:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
  }

  /* Header Section */
  
  /* .header-section {
    background-color: var(--secondary-color);
    position: fixed;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  } */

  header {
    width: 100%;
    position: fixed;
    background-color: white;
    /* border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px; */
    z-index: 99;
  }

  /* .container {
    width: 1320px;
  } */

  /*.logo.desktop {
    margin-left:10%;
  }

  .nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }

*/
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 20px;
  }

  nav ul li:last-child {
    margin-right: 40px;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
  }

  nav ul li a:hover {
    color: var(--primary-color);
  }

  .call-to-action-btn {
    background-color: var(--primary-color);
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
  }

  .call-to-action-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }

  /* Hero Section */

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
    text-align: center;
    color: var(--primary-color);
    line-height: 1.25;
    font-weight: 700;
}

.hero-services {
  color: var(--primary-color);
}

.hero-services span {
  font-size: x-large;
  font-weight: 600;
}

/* .hero-action {
  margin-top: 50px;
} */

.hero-action a {
    /* text-decoration: none; */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--primary-color);
    /* padding: 15px 25px; */
    border-radius: 15px;
    /* margin: 10% 0; */
    /* border: 2px solid var(--primary-color); */
}

.hero-action a:hover {
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color)
}

/* Why us section */

.why-content {
  border-radius: 20px;
}

.why-content .card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why-content .card-header i {
  font-size: 3rem;
  color: var(--primary-color);
}

.why-content .card-body p {
  display: flex;
  justify-content: center;
}

/* Services section */

#services-section img {
  border-radius: 15px;
}

.services-symbol {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
}

.services-symbol i {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.services-symbol p {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: var(--primary-color);
}

/*Services Section old*/

.services {
  /* background-color: var(--secondary-color); */
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* border-radius: 75px; */
}

.header-service {
  color: var(--primary-color);
}

.service-card{
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  background-color: white;
  border-radius: 20px;
}

#design-3d {
 background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 40%), url("../img/services/3d_design_service.jpg");
}

#boq {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 40%), url("../img/services/boq_preparation.jpg");
}

#vasthu {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 40%), url("../img/services/vasthu_zodia_image.PNG");
}

#drawings {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 40%), url("../img/services/drawing_preparation.jpg");
}

.service-card-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.service-card-name h3 {
  color: var(--primary-color);
  font-weight: bold;
}

.service-btn {
  color: var(--primary-color);
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  
}

/* Previous Projects */

.project-image img {
  border-radius: 20px;
}

.project-des h3 {
  text-align: center;
}

.project img {
  border-radius: 15px;
  aspect-ratio: 3 / 2;
}

a {
  text-decoration: none;
  color: black;
  
}

.project-features {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .project-features .card-body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
} */

.project-features .wrap-content {
  display: flex;
  align-items: center;
  border: 1px solid #737373;
  background-color: white;
  border-radius: 10px;
}

.project-des p {
  text-align: center;
  margin-top: 30px;
  
}

.des p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #737373;
}

.project-features i {
  font-size: 1.7rem;
  border-right: 2px solid #737373;
  color: var(--primary-color);
}

/* .project h5 {
  font-weight: bold;
} */

.projects-btn {
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 15px;
}

/* Testimonials */

#testimonial {
  /* background-color: #dfdfdf; */
  border-radius: 0px;
}

/* .header-testimonial {
  color: var(--primary-color);
} */

.testimonial-card {
  border-radius: 20px;
}

 .testimonial-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .testimonial-card-body .profile-img {
  width: 40%;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  /* border: 5px solid #737373; */
}

 .testimonial-card-body h4 {
  margin-top: 20px;
  /* font-weight: bold; */
  /* color: var(--primary-color); */
  
}

 .testimonial-card-body h6 {
  font-style: italic;
  /* font-weight: bold; */
  /* color: #737373; */
  color: #737373;
}

 .testimonial-card-body p {
  margin-top: 5px;
  text-align: center;
  /* font-weight: bold; */
}

 .testimonial-card-body i {
  font-size: 2rem;
  color: #737373;
}

 .testimonial-card-body .rating-img {
  width: 30%;
  margin: 10px;
}

#trusted-brands {
  background-color: var(--primary-color);
}

#trusted-brands h2 {
  color: white;
}

#trusted-brands .card {
  width: 80%;
  flex-wrap: wrap;
  border-radius: 20px;
}

#trusted-brands img {
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
  /* object-fit: cover; */
}

.wrap-logo {
  display: flex;
  align-items: center;
}

/* House plans */

.product-link:hover .product-card {
  border: 2px solid #DFDFDF;
  box-shadow: #737373 ;
}

.product-card {
  background-color: #F2F2F2;
  border-radius: 20px;
}

.product {
  width: 100%;
}

#image-1-1 {
  background-image: url("/assets/img/projects/5_storey_residence_at_piliyandala.jpg");
}

#image-1-2 {
  background-image: url("/assets/img/projects/3_storey_house_at_gampaha.jpg");
}

#image-1-3 {
  background-image: url("/assets/img/projects/3_storey_house_at_matara.jpg");
}

#image-1-4 {
  background-image: url("/assets/img/projects/5_storey_residence_at_piliyandala.jpg");
}

.product-image {
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 3 / 2;
}

.product-image.product-image button {
  display: none;
}

.product-image:hover.product-image button {
  display: flex;

}

.product-image button {
  font-size: 1.5rem;
  font-weight: bold;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
}

/* .text-bold {
  font-weight: bold;
} */

.product img {
  width: 40%;
}

.product-btn {
  border-radius: 15px;
  font-weight: 600;
  color: var(--primary-color);
  /* border: 2px solid black; */
  border: none;
}

#large-product-img {
  background-image: url("/assets/img/projects/5_storey_residence_at_piliyandala.jpg");
}

.large-product-img {
  width: 100%;
  aspect-ratio: 3 / 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.large-product-img-content {
  width: 40%;
  background-color: white;
  border-radius: 15px;
  display: none;
  /* opacity: 0.5; */
}

.large-product-img:hover  .large-product-img-content {
  display: block;
}

/* Custom design */

#custom-design {
  background-color: white;
}

.custom-design-btn {
  background-color: var(--primary-color);
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
}

.custom-design-btn:hover {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* Staff section */

#staff {
  width: 100%;
  /* background-color: #dfdfdf; */
  /* border-radius: 100px; */
}

/* .header-staff {
  /* color: var(--primary-color); 
  /* color: #737373; 
} */

.staff-card {
  /* background-color: white; */
  border-radius: 20px;
}

.staff-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}

.staff-card i {
  margin-top: -25px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: var(--primary-color);
  z-index: 1;
}

.staff-card h5 {
  /* color: var(--primary-color); */
  font-weight: 500;
}

.staff-card p {
  color: #737373;
  font-weight: 500;
  margin: 0;
  font-size: 0.9rem;
}

.staff-btn {
  border-radius: 15px;
  font-weight: 600;
  color: var(--primary-color);
  /* border: 2px solid; */
  border: none;
}

/* Blog section */

.blog-card {
  width: 100%;
  border-radius: 20px;
}

.blog-card img {
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 20px;
}

/* .blog-card h5 {
  font-weight: bold;
} */

.blog-card p {
  font-size: 0.9rem;
  /* font-weight: bold; */
  color: #737373;
  
}

.blog-card .read-more {
  font-size: 0.9rem;
  color: var(--primary-color);
}

.blog-card span {
  font-size: 0.9rem;
  color: #737373;
}

.blog-btn {
  border-radius: 15px;
  font-weight: 600;
  color: var(--primary-color);
  /* border: 2px solid black; */
  border: none;
}

/* Footer section */

footer {
  width: 100%;
  background-color: #313131;
  /* border-top-left-radius: 100px;
  border-top-right-radius: 100px; */
}

.footer-contacts {
  color: white;
}

.map img {
  border-radius: 20px;
}

#facebook {
  background-image: url("/assets/img/footer/facebook_new.PNG");
}

#instagram {
  background-image: url("/assets/img/footer/instagram_icon.PNG");
}

#linkedin {
  background-image: url("/assets/img/footer/linkedin_icon.PNG");
}

#youtube {
  background-image: url("/assets/img/footer/youtube_icon.PNG");
}

.social-media {
  color: white;
}

.social-icons div {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.quick-links {
  color: white;
}

.quick-links a{
  color: white;
  text-decoration: none;
}

.rights span {
  color: white;
}

@media only screen and (max-width:600px) {

    .mobile {display: flex;}

    .desktop {display: none;}

    .header-section{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* .container {
      height: 60px;
      display: flex;
      justify-content: center;
    } */

    .logo {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      padding: 10px;
      top: 5px;
      z-index: 1;
    }

    .logo img {
      height: 50px;
    }

    .hamburg {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
    }

    .hamburg button {
      border: none;
      font-size: 2.5rem;
      color: #737373;
      background: none;
    }

    .mobile-menu-section.hidden {height: 0;}

    .mobile-menu-section {
      width: 100%;
      height: 500px;
      transition: height 0.5s;
    }

    .mobile-menu-container {
      
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 80px 0 0 0;
    }

    .mobile-menu {
      margin-bottom: 30px;
      width: 50%;
    }

    .mobile-menu ul {
      flex-direction: column;
      text-align: center;
    }

    .mobile-menu ul li {
      text-align: center;
      margin: 10px 0;
      border-bottom: 1px solid #737373;
      border-radius: 20px;
      padding-bottom: 10px;
    }

    .mobile-menu ul li a {
      color: var(--primary-color);
      font-size: 1rem;
    }

    .hero-section {
      flex-direction: column;
      align-items: center;
    }

    .round-seperator {
      height: 85px;
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: var(--background-color);
    }

    .hero-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100vh;
      padding: 50px 0 50px 0;
    }

    .hero-content.margin {margin: 0;}

    .hero-image {
      width: 80%;
      height: 100%;
      background-image: url("../img/whyus/3d_rendered_house_for_why_us_section.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 20px;
      border: 5px solid var(--primary-color);
    }

    .hero-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      margin: 50px 0 0 0;
    }

    .hero-text h1 {
      font-size: 3rem;
    }

    /* Why us section */

    .why-us-section {
      margin: 0;
    }

    .why-us-content {
      width: 100%;
      margin: 50px 50px;
    }

    /* Services section */

    .header-service h2 {
      text-align: center;
    }

    .service-cards {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .service-card-image {
      width: 200px;
      height: 235px;
    }

   

}